#landing-page {
  background-color: #d0c3f1;
}

.image {
  width: 350px;
  height: 350px;
  margin-left: 10px;
}

h2 {
  color: rgb(56, 55, 55);
}

h3 {
  color: white;
}

.image-container {
  position: relative;
  display: inline-block;
}

.text-over-image {
  position: absolute;
  top: 0;
  left: 10px;
}

.read-more-container{
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: white;
  width: 40%;
  height: 30px;
  bottom: 20px;
  left: 20px;
}

.arrow-icon {
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 70px;
  color: rgb(149, 13, 246);
}

.read-more{
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(149, 13, 246);
}