#page-header {
    background-color: #8c52ff;
    overflow: hidden;
    height: 20%;

    #logo {
        width: 100px;
        height: 100px;
    }

    #title {
        text-align: center;
        margin-top: -115px;

    }
}